@charset "UTF-8";

.adminPaddingTop {
	padding: 100px;
}

.kt-header--fixed.kt-aside--minimize .kt-header {
	left: 0;
}

.kt-menu__item {
	width: 120px;
}

#checkExcel {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

#labelExcel {
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
}

.filebox input[type="file"] {
	display: inline-block;
	padding: .5em .75em;
	/* label의 패딩값과 일치 */
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	-webkit-appearance: none;
	/* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}

#fileUpload {
	color: black;
}


.dataTables_paginate .paging_simple_numbers .pagination{
	 display:flex !important;
}
#kt_table_1_paginate{
	 display:flex !important;
}


.page-item{
	margin-left:6px;
	margin-right:6px;
}