<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>adminMain.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!--  이예나 -->
	<servlet>
		<servlet-name>adminlogin</servlet-name>
		<jsp-file>/resource/view/adminLogin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminlogin</servlet-name>
		<url-pattern>/galaxy/hosting/bitcamp/login</url-pattern>
	</servlet-mapping>


	<!-- 고재현 -->
	<servlet>
		<servlet-name>adminMain</servlet-name>
		<jsp-file>/resource/view/adminMain.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminMain</servlet-name>
		<url-pattern>/galaxy/hosting/bitcamp</url-pattern>
	</servlet-mapping>

<!--  css, js 안먹을때 쓰세요
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.woff2</url-pattern>
		<url-pattern>*.woff</url-pattern>
		<url-pattern>*.ttf</url-pattern>
	</servlet-mapping> --> 



</web-app>